{% extends 'base.html' %} {% block title %} {{ post.title }} {% endblock %} {%
block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.content }}</p>

<p>
  <em>By {{ user.first_name }} {{ user.last_name }} created at {{ post.created_at.strftime('%c') }}</em>
</p>

{% if tags %}
<ul class="list-unstyled d-flex flex-wrap">
  {% for tag in tags %}
  <li class="mb-1 mr-1"><h6><span class="badge badge-primary">{{ tag.name }}</span></h6></li>
  {% endfor %}  
</ul>
{% endif %}
<form action="/posts/{{ post.id }}/delete" method="POST">
  <a
    class="btn btn-outline-primary btn-lg"
    href="/users/{{ user.id }}"
    role="button"
    >Cancel</a
  >
  <a
    class="btn btn-primary btn-lg"
    href="/posts/{{ post.id }}/edit"
    role="button"
    >Edit</a
  >
  <button type="submit" class="btn btn-lg btn-danger">Delete</button>
</form>

{% endblock %}
