{% extends 'base.html' %} {% block title %} Create a user {% endblock %} {%
block content %}

<div class="media">
  <img class="mr-3" src="{{ user.image_url }}" alt="Generic placeholder image">
  <div class="media-body">
    <h1 class="mt-0 mb-2">{{ user.first_name }} {{ user.last_name }}</h1>
    <form action="/users/{{ user.id }}/delete" method="POST">
      <a class="btn btn-primary" href="/users/{{ user.id }}/edit" role="button">Edit</a>
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>

{% endblock %}